.div-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.session-id-part {
  width: 45px;
  font-family: arial, sans-serif;
  background-color: #444;
  color: #d7dadc;
  padding: 2px 5px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.title-logo-row {
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.3rem;
}

.button {
  font-family: arial, sans-serif;
  background-color: #656565;
  color: #d7dadc;
  padding: 2px 5px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
