table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

.my-board {
  border: 1px solid #616161;
  border-radius: 4px;
}

.screen {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.page {
  outline: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}

.player-data {
  flex-grow: 1;
  pointer-events: none;
}

.play-div {
  display: inline-block;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
  padding-top: 2px;
}

.dictionary-dot-com {
  font-size: 0.7rem;
  text-decoration: underline;
  cursor: pointer;
}

.wordleoff-dot-com {
  text-decoration: underline;
  cursor: pointer;
}

.guess-board {
  width: 380px;
  display: grid;
  grid-template-rows: repeat(6, 1.5fr);
  gap: 6px;
}

.guess-row {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  gap: 6px;
}

.reset-row {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  gap: 2px;
  width: 150px;
  cursor: pointer;
}

.keyboard-board {
  padding: 4px;
  padding-top: 2px;
}

.keyboard-row {
  display: flex;
  width: 430px;
  height: 50px;
}

.session-id-row {
  display: grid;
  grid-template-columns: repeat(11, 1.5fr);
  gap: 2px;
  width: 200px;
  height: 14px;
  margin-top: 2px;
  margin-bottom: 4px;
  cursor: pointer;
}

.copy-id {
  font-size: 0.75rem;
  color: #999;
}

.guess-tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  line-height: 1rem;
  font-weight: bold;
  color: #d7dadc;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  border-radius: 4px;
}

.guess-tile::before {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

.guess-tile-keyboard {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.guess-tile-keyboard-small {
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.guess-tiles-offset-50 {
  width: 50%;
}

.guess-tiles-offset-150 {
  width: 150%;
}

.guess-tile-small {
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 2px;
}

.guess-tile-session-id {
  font-size: 1.1rem;
  line-height: 1.1rem;
  border-radius: 2px;
}

.guess-guessing-solid {
  background-color: #656565;
}

.guess-guessing {
  background-color: #656565;
  transition: background-color 0.6s;
}

.guess-guessing-mine {
  background-color: #888;
  transition: background-color 0.3s;
}

.guess-invalid {
  background-color: #656565;
  animation: 0.4s ease-in-out forwards guess-invalid-frames;
}

@keyframes guess-invalid-frames {
  25% {
    transform: scale(0.90);
  }
  50% {
    transform: scale(1.0);
  }
  75% {
    transform: scale(0.90);
  }
  100% {
    transform: scale(1.0);
  }
}

.guess-correct {
  background-color: #582;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-correct-1 {
  background-color: #582;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-correct-2 {
  background-color: #582;
  transition: background-color 0.35s 0.35s;
  animation: 0.7s linear forwards flip-tile-frames;
}

.guess-correct-3 {
  background-color: #582;
  transition: background-color 0.4s 0.4s;
  animation: 0.8s linear forwards flip-tile-frames;
}

.guess-correct-4 {
  background-color: #582;
  transition: background-color 0.45s 0.45s;
  animation: 0.9s linear forwards flip-tile-frames;
}

.guess-correct-5 {
  background-color: #582;
  transition: background-color 0.5s 0.5s;
  animation: 1.0s linear forwards flip-tile-frames;
}

.guess-correct-hc {
  background-color: #F61;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-correct-hc-1 {
  background-color: #F61;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-correct-hc-2 {
  background-color: #F61;
  transition: background-color 0.35s 0.35s;
  animation: 0.7s linear forwards flip-tile-frames;
}

.guess-correct-hc-3 {
  background-color: #F61;
  transition: background-color 0.4s 0.4s;
  animation: 0.8s linear forwards flip-tile-frames;
}

.guess-correct-hc-4 {
  background-color: #F61;
  transition: background-color 0.45s 0.45s;
  animation: 0.9s linear forwards flip-tile-frames;
}

.guess-correct-hc-5 {
  background-color: #F61;
  transition: background-color 0.5s 0.5s;
  animation: 1.0s linear forwards flip-tile-frames;
}


.guess-present {
  background-color: #A93;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-present-1 {
  background-color: #A93;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-present-2 {
  background-color: #A93;
  transition: background-color 0.35s 0.35s;
  animation: 0.7s linear forwards flip-tile-frames;
}

.guess-present-3 {
  background-color: #A93;
  transition: background-color 0.4s 0.4s;
  animation: 0.8s linear forwards flip-tile-frames;
}

.guess-present-4 {
  background-color: #A93;
  transition: background-color 0.45s 0.45s;
  animation: 0.9s linear forwards flip-tile-frames;
}

.guess-present-5 {
  background-color: #A93;
  transition: background-color 0.5s 0.5s;
  animation: 1.0s linear forwards flip-tile-frames;
}

.guess-present-hc {
  background-color: #59D;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-present-hc-1 {
  background-color: #59D;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-present-hc-2 {
  background-color: #59D;
  transition: background-color 0.35s 0.35s;
  animation: 0.7s linear forwards flip-tile-frames;
}

.guess-present-hc-3 {
  background-color: #59D;
  transition: background-color 0.4s 0.4s;
  animation: 0.8s linear forwards flip-tile-frames;
}

.guess-present-hc-4 {
  background-color: #59D;
  transition: background-color 0.45s 0.45s;
  animation: 0.9s linear forwards flip-tile-frames;
}

.guess-present-hc-5 {
  background-color: #59D;
  transition: background-color 0.5s 0.5s;
  animation: 1.0s linear forwards flip-tile-frames;
}


.guess-absent {
  background-color: #353535;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-absent-1 {
  background-color: #353535;
  transition: background-color 0.3s 0.3s;
  animation: 0.6s linear forwards flip-tile-frames;
}

.guess-absent-2 {
  background-color: #353535;
  transition: background-color 0.35s 0.35s;
  animation: 0.7s linear forwards flip-tile-frames;
}

.guess-absent-3 {
  background-color: #353535;
  transition: background-color 0.4s 0.4s;
  animation: 0.8s linear forwards flip-tile-frames;
}

.guess-absent-4 {
  background-color: #353535;
  transition: background-color 0.45s 0.45s;
  animation: 0.9s linear forwards flip-tile-frames;
}

.guess-absent-5 {
  background-color: #353535;
  transition: background-color 0.5s 0.5s;
  animation: 1.0s linear forwards flip-tile-frames;
}

@keyframes flip-tile-frames {
  50% {
    transform: rotateX(90deg);
  }
}

.guess-empty {
  border: 1px solid #656565;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-margin-1 {
  margin: 4px;
}

.div-height-1 {
  height: 1.0rem
}

.div-center-vertical {
  flex-direction: column;
}

.last-row {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  width: 430px;
}

.last-row-end-spacer {
  width: 65px;
}
