table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  text-align: center;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.my-board {
  border: 1px solid #444;
}

.game {
  outline: none;
  height: 95vh;
}

.play-container {
  display: inline-block;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
}

.dictionary-dot-com {
  font-size: 0.7rem;
  text-decoration: underline;
}

.guess-board {
  width: 350px;
  height: 450px;
  display: grid;
  grid-template-rows: repeat(6, 1.5fr);
  grid-gap: 4px;
}

.guess-row {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  grid-gap: 4px;
  height: 50px;
}

.reset-row {
  display: grid;
  grid-template-columns: repeat(5, 1.5fr);
  grid-gap: 2px;
  width: 150px;
  height: 20px;
}

.keyboard-board {
  margin-bottom: 20px;
}

.keyboard-row {
  display: flex;
  width: 400px;
  height: 50px;
}

.title-logo-row {
  display: grid;
  grid-template-columns: repeat(9, 1.5fr);
  grid-gap: 2px;
  width: 450px;
  height: 40px;
  margin-bottom: 5px;
}

.session-id-row {
  display: grid;
  grid-template-columns: repeat(11, 1.5fr);
  grid-gap: 2px;
  width: 300px;
  height: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.copy-id {
  font-size: 0.75rem;
  color: #999;
}

.guess-tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: #d7dadc;
  vertical-align: middle;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: var(--tile-color);
}
 
.guess-tile::before {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

.guess-tile-keyboard {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin: 2px;
  border-radius: 4px;
}

.guess-tile-keyboard-small {
  font-size: 0.6rem;
  line-height: 0.6rem;
  margin: 2px;
  border-radius: 4px;
}

.guess-tiles-offset-50 {
  width: 50%;
}

.guess-tiles-offset-200 {
  width: 200%;
}

.guess-tile-small {
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.guess-tile-session-id {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.guess-present {
  --tile-color: #b59f3b;
}

.guess-correct {
  --tile-color: #538d4e;
}

.guess-absent {
  --tile-color: #3a3a3c;
}

.guess-guessing {
  --tile-color: #6d6c6c;
}

.guess-empty {
  border: 1px solid #dddddd;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-margin-1 {
  margin: 4px;
}

.div-height-1 {
  height: 1.0rem
}

.div-margin-top {
  margin-top: 4px;
}

.div-center-vertical {
  flex-direction: column;
}
